/* Custom overrides for Observable's inspector.css */

/* Set Observable's output containers to be better contained */
.observablehq {
  position: relative;
  clear: both;
  margin-top: 30px;
}

/* Make sure the visualization stays contained */
.observablehq output {
  display: block;
  max-width: 100%;
  overflow-x: auto;
}

/* Avoid overlapping of Observable debug outputs */
.observablehq--cellOutline {
  clear: both;
  position: relative;
  margin-top: 30px;
  border-top: 1px solid rgba(255, 179, 71, 0.2);
  padding-top: 30px;
}
